*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(210, 210, 210);
}
.container{
    margin: 0 auto;
    width: 610px;
    height: 210px;
    display: grid;
    gap: 10px;
    grid-template-columns: 25px repeat(5, 100px) 25px;
    grid-template-rows: 25px repeat(5, 20px) 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: 250px;
    box-shadow: 0 0 15px 5px black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.container h2{
    grid-area: 1 / 2 / 3 / 7;
    padding: 10px;
    font-weight: bold;
    color: rgb(99, 99, 99);
}
.seletorDeEstilos{
    grid-area: 5 / 2 / 7 / 7;
    display: grid;
    gap: 5px;
    grid-template-columns: 400px 115px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/*-----------------------Barra de Pesquisa------------------*/
.pesquisar{
    border-radius: 5px;
    border: 1px solid black;   
}
.pesquisar.barra{
    grid-area: 3 / 2 / 5 / 7;
    display: grid;
    gap: 5px;
    grid-template-columns: 400px 115px;
    padding: 10px;
    box-shadow: 0 0 5px 2px rgb(237, 237, 237);
    border: none;
}
.pesquisar.campo{
    background-color: inherit;
    padding-left: 20px; 
}
.pesquisar.botao{
    background-color: inherit;
}
.pesquisar.botao:active{
    background-color: inherit;
    border: none;
}
.pesquisar.seletor{
    border-radius: 8px;
    border: none;
}
/*-----------------------Opções de Cores--------------------*/

/*                    Escuro           */
#barraEscuro{
    border: none;
    background-color: rgb(70, 70, 70);
}
#campoEscuro{
    border: none;
    box-shadow: inset 0 0 10px 5px rgb(35, 35, 35);
    color: rgb(185, 185, 185);
}
#botaoEscuro{
    border: none;
    box-shadow: 0 0 10px 2px rgb(40, 40, 40);
    color: rgb(185, 185, 185);
}
#botaoEscuro:active{
    border: rgb(55, 55, 55) 1px solid;
    box-shadow: none;
}

/*                Claro               */
#barraClaro{
    border: none;
    background-color: rgb(228, 227, 255);
}
#campoClaro{
    border: none;
    box-shadow: inset 0 0 10px 5px rgb(205, 205, 205);
}
#botaoClaro{
    border: none;
    box-shadow: 0 0 10px 2px rgb(205, 205, 205);
    color: rgb(49, 49, 49);
}
#botaoClaro:active{
    border: rgb(198, 198, 198) 1px solid;
    box-shadow: none;
}

/*                Rosa                  */
#barraRosa{
    border: none;
    background-color: rgb(251, 58, 238);
}
#campoRosa{
    border: 2px rgb(143, 143, 143) solid;
    border-radius: 20px;
    box-shadow: inset 0 0 10px 5px rgb(136, 37, 126);
    color: rgb(12, 9, 178);
}
#botaoRosa{
    border: 2px rgb(143, 143, 143) solid;
    box-shadow: 0 0 10px 2px rgb(136, 37, 126);
    color: rgb(12, 9, 178);
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
}
#botaoRosa:active{
    box-shadow: none;
}

/*               Azul                   */
#barraAzul{
    border: none;
    background-color: rgb(77, 58, 251);
}
#campoAzul{
    border: 2px rgb(143, 143, 143) solid;
    border-radius: 20px;
    box-shadow: inset 0 0 10px 5px rgb(37, 49, 136);
    color: rgb(255, 255, 255);
}
#botaoAzul{
    border: 2px rgb(143, 143, 143) solid;
    box-shadow: 0 0 10px 2px rgb(37, 49, 136);
    color: rgb(254, 229, 3);
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
}
#botaoAzul:active{
    box-shadow: none;
}

/*            Vermelho                   */
#barraVermelho{
    border: none;
    background-color: rgb(191, 26, 51);
}
#campoVermelho{
    border: none;
    box-shadow: inset 0 0 10px 5px rgb(125, 26, 26);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: rgb(249, 249, 249);
}
#botaoVermelho{
    border: none;
    box-shadow: 0 0 10px 2px rgb(125, 26, 26);
    color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#botaoVermelho:active{
    border: rgb(147, 25, 43) 1px solid;
    box-shadow: none;
}

/*                Verde                     */
#barraVerde{
    border: none;
    background-color: rgb(19, 123, 48);
}
#campoVerde{
    border: none;
    box-shadow: inset 0 0 10px 5px rgb(15, 81, 38);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: rgb(254, 229, 4);
}
#botaoVerde{
    border: none;
    box-shadow: 0 0 10px 2px rgb(15, 81, 38);
    color: rgb(254, 229, 4);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#botaoVerde:active{
    border: rgb(23, 95, 48) 1px solid;
    box-shadow: none;
}